.downListContentDiv{position: absolute; background: #fff; left: 0; top: 32px; padding: 10px; width:440px; border: 1px solid #ddd;display:none}
.conditionDiv{ padding:10px 0; overflow:hidden}
.downListContentDiv span{ float:left; padding:0 10px; line-height:28px; margin-left:5px}